<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.cm.job"/>
    

    <bean id="buyJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="name" value="buyJob"/>
        <property name="group" value="group"/>
        <property name="jobClass" value="com.cm.schedule.BuyJob" />
        <property name="durability" value="true"/>
        <property name="jobDataMap" >
            <map>
                <entry key="money" value="100">
                </entry>
                <entry key="thing" value="book">
                </entry>
            </map>
        </property>
    </bean>

    <bean id="buyTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="repeatInterval" value="5000"/>
        <property name="repeatCount" value="3"/>
        <property name="jobDetail" ref="buyJob"/>
    </bean>

    <bean id="mailJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="name" value="mailJob"/>
        <property name="group" value="group"/>
        <property name="targetObject" ref="mailJob"/>
        <property name="targetMethod" value="run"/>
    </bean>

    <bean id="mailTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="mailTrigger"/>
        <property name="group" value="group"/>
        <property name="jobDetail" ref="mailJobDetail"/>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="buyJob"/>
                <ref bean="mailJobDetail"/>
            </list>
        </property>
        <property name="triggers">
            <list>
                <ref bean="buyTrigger"/>
                <ref bean="mailTrigger"/>
            </list>
        </property>
    </bean>

</beans>